* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #0f3d3e;
  color: #ffffff;
}

main {
  max-width: 1200px;
  margin: 30px auto;
  background-color: #0f3d3e;
  border-radius: 24px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}


h1 {
  font-size: 80px;
  font-weight: 800;
  color: rgb(223, 117, 12);
}

nav a {
  margin-left: 15px;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #0f3d3e;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

nav a:hover {
  background-color: #ffff;
  color: #0f3d3e;
}

section:first-of-type {
  padding: 80px 60px;
  max-width: 600px;
}

section:first-of-type p:first-child {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

section:first-of-type p:last-child {
  font-size: 16px;
  color: rgb(223 ,117,12);
}
section:last-of-type {
  background-color: #7aa08db5;
  color: #111827;
  padding: 60px;
  border-radius: 24px 24px 0 0;
  /* border: 2px solid rgb(211, 106, 8); */
}

section h3 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;

}

article {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #056219;
  background-color: #e0ede5;
  text-align: center;
}

article h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
    color: rgb(223, 117, 12);

}
.auth-wrapper {
  min-height: 80vh;
    width: 100vw;
  background-color: rgb(207, 137, 5) !important;
  padding-left: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

}

.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 35px;
  border: 2px solid #111;
  border-radius: 20px;
  background: #fff;;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.auth-card h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #141313;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-form input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-form button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.auth-form button:hover {
  background: #333;
}
